<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <div th:replace="fragments/header :: header-css"></div>
    </head>
    <body>
        <div class="bg-red">TODO write contens</div>
        
        <div th:replace="fragments/header :: header-js"></div>
        
        <h1 th:text="#{title}" >this is a main</h1>
        <h2>this is a main line 2</h2>
    </body>
</html>
